
.App{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: #DDDEDD;
}

.homepage{
    display: flex;
    width: 100vw;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
   
}

.main{
    display: flex;
    background-color: red;
    width: 90%;
     height: 90%;
    
}